{% extends "home/base.html" %}
{% block content %}


    <head>
        <title>About Us - LifeCare Hospital</title>
    </head>
    <body>
        <header>
            <h1>About Us</h1>
        </header>

        

        <section>
            <h2>Our Story</h2>
            <p>Welcome to LifeCare Hospital. We are dedicated to providing the highest quality healthcare services to our community. Our journey began in [year] when a group of passionate healthcare professionals came together to create a hospital that prioritizes patient care, innovation, and excellence.</p>

            <p>Over the years, we have expanded our services and facilities to meet the evolving needs of our patients. Today, we are proud to offer a wide range of medical specialties, a team of skilled and compassionate doctors, and state-of-the-art technology to ensure the well-being of our patients.</p>
        </section>

        <section>
            <h2>Our Mission</h2>
            <p>Our mission is to provide accessible, comprehensive, and compassionate healthcare to our patients. We strive to:</p>
            <ul>
                <li>Deliver exceptional medical care with a focus on patient well-being.</li>
                <li>Promote health education and awareness within our community.</li>
                <li>Continuously improve our services and facilities to meet the highest standards of healthcare.</li>
            </ul>
        </section>

        <section>
            <h2>Meet Our Team</h2>
            <p>We are proud of our team of dedicated and experienced healthcare professionals who work tirelessly to ensure the best care for our patients. Our doctors, nurses, and support staff are committed to your health and well-being.</p>
        </section>
        
        <footer>
            <p>&copy; 2023 LifeCare Hospital. All rights reserved.</p>
        </footer>
    </body>
    {% endblock content %}