<!DOCTYPE html>
<html>
<head>
    <title>Hospital Map</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoNrOAEkoZIn_sJayKYgGYbET2wKrjsdw"></script>
</head>
<body>
    <div id="map" style="height: 400px; width: 100%;"></div>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: 0, lng: 0}, // Set default center
                zoom: 8 // Set default zoom level
            });

            // Add marker for hospital location
            var hospitalLocation = {lat: 40.7128, lng: -74.0060}; // Example coordinates for New York City
            var hospitalMarker = new google.maps.Marker({
                position: hospitalLocation,
                map: map,
                title: 'Lifecare Hospital',
                icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png' // URL to red marker icon
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDoNrOAEkoZIn_sJayKYgGYbET2wKrjsdw&callback=initMap"></script>
</body>
</html>



